body {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #007bff;
  }

  &:active {
    color: #28a745;
  }
}

code,
pre {
  font-family: Menlo, Consolas, "Consolas for Powerline", "Courier New", Courier,
    monospace;
  background-color: #2b2b2b;
  color: #fff;
  padding: 0.25em;
  border: 1px solid #ddd;
  border-radius: 5px;
  line-height: 1;
  overflow: auto;
}

.datetime {
  font-family: "VT323", monospace;
  font-size: 19px;
}

.tags {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 10px;
  background-color: #2b2b2b;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
